<div class="project-container">
  <div *ngFor="let p of projects" class="list-item">
    <mat-card class="card">
      <div class="runtime">
        {{p.runtime}}
        <button mat-raised-button class="download-button" title="Download {{p.download}}"
          (click)="download(p.download)">
          <i class="fas fa-download"></i>
        </button>
      </div>
      <div class="header">
        <img src="{{p.logo}}">
        <div class="p-titles">
          <h2>{{p.title}}</h2>
        </div>
      </div>
      <h3>{{p.shortDescription}}</h3>
      <button mat-raised-button class="show-more-button" (click)="openOverlay(p)">Show more</button>
    </mat-card>
  </div>
</div>