<div class="center">
  <mat-card class="contact-card">
    <h1>Contact Me:</h1>
    <p>
      Linus Kreitner <br>
      Student of Informatics B. Sc.<br>
      Jubiläumsweg 2, 86949 Windach <br>
      Germany <br><br>
      E-mail: <a href="kreitner.webserver@gmail.com" target="_blank">kreitner.webserver@gmail.com</a><br>
      Twitter: <a href="https://twitter.com/LinusKreitner" target="_blank">@LinusKreitner</a><br>
      Website: <a href="https://kreitner.selfhost.eu" target="_blank">kreitner.selfhost.eu</a><br>
      University: <a href="https://www.tum.de/" target="_blank">Technical University Munich</a><br><br>
      Impressum: <a href="../../assets/impressum.html" target="_blank"><i class="fas fa-info-circle"></i></a>
    </p>
  </mat-card>
</div>

