<div class="center">
  <mat-card class="contact-card">
    <h1 class="stranger">Don't be a stranger.</h1>
    <h1 class="hello">Just say hello!</h1>
    <p class="real-info">
      Linus Kreitner <br>
      Student of Informatics B. Sc.<br>
      Jubiläumsweg 2, 86949 Windach <br>
      Germany
    </p>
    <p>
      <a href="https://github.com/Linus4world" target="_blank"><i
          class="fab fa-github"></i></a>https://github.com/Linus4world <br>
      <a href="https://twitter.com/LinusKreitner" target="_blank"><i class="fab fa-twitter"></i></a>@LinusKreitner<br>
      <a href="https://www.tum.de/" target="_blank"><i class="fas fa-university"></i></a>Technical University Munich<br>
      <i class="fas fa-envelope"></i>kreitner.webserver@gmail.com<br><br><br>
      <mat-divider></mat-divider>
    </p>
    <br>
    <div class="impressum">
      <a href="../../assets/impressum.html" target="_blank">Impressum</a>
    </div>
  </mat-card>
</div>