<!--The content below is only a placeholder and can be replaced.-->

<head>
  <meta charset="utf-8" />
</head>
<div id="background-img">
  <nav mat-tab-nav-bar>
    <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.link" routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">{{link.label}}
    </a>
  </nav>
  <router-outlet></router-outlet>
  <!-- <header class="header-1">

  <mat-tab-group>
      <mat-tab label="Home"><a href="javascript://" [routerLink]="['']"></a></mat-tab>
      <mat-tab label="Projects"> <a href="javascript://" [routerLink]="['/projects']"></a></mat-tab>
    </mat-tab-group>

  <div class="branding">
    <a (click)="setCurrentTab();" href="javascript://" [routerLink]="['']" class="nav-link">
      <img width="60" src="assets/icons/logo-white.png" style="margin-right: 1em">
      <span class="title"><b>Linus</b> Kreitner</span>
    </a>
  </div>
  <div class="header-nav">
    <a (click)="setCurrentTab($event);" href="javascript://" [routerLink]="['']"
      class="active nav-link nav-text" id="home-tab">Home</a>
    <a (click)="setCurrentTab($event);" href="javascript://" [routerLink]="['/projects']"
      class="nav-link nav-text">Projects</a>
    <a (click)="setCurrentTab($event);" href="javascript://" [routerLink]="['/cv']" class="nav-link nav-text">CV</a>
    <a (click)="setCurrentTab($event);" href="javascript://" [routerLink]="['/contact']"
      class="nav-link nav-text">Contact</a>
  </div>
</header>

<div class="alert info" id="mail-alert">
    <span class="closebtn" (click)="closeAlert(mail);">&times;</span>
    <strong>Info! </strong> Trying to open your mail client...
  </div>

  <div class="alert danger" id="download-alert">
      <span class="closebtn" (click)="closeAlert(download);">&times;</span>
      <strong>Download not possible!</strong> To download this file, please contact me directly.
    </div>

<router-outlet></router-outlet> -->
</div>