<head>
  <meta charset="utf-8" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap" rel="stylesheet">
</head>
<div id="background-img">
  <nav mat-tab-nav-bar>
    <a class="branding" href="./home" title="Home">
      <img src="assets/icons/logo-white.png">
      <strong>Linus Kreitner</strong>
    </a>
    <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.link" routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">{{link.label}}
    </a>
  </nav>
  <router-outlet></router-outlet>

  <div class="alert info" id="mail-alert">
    <span class="closebtn" (click)="closeAlert(mail);">&times;</span>
    <strong>Info! </strong> Trying to open your mail client...
  </div>

  <div class="alert danger" id="download-alert">
    <span class="closebtn" (click)="closeAlert(download);">&times;</span>
    <strong>Download not possible!</strong> To download this file, please contact me directly.
  </div>
</div>