/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.mat-tab-link{
    color: white !important;
}
.mat-tab-nav-bar{
    background-color: black;
}

body{
    margin: 0;
}

html{
    font-family: 'Montserrat', sans-serif;
}