<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
  integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous"> -->
<div class="background">
  <br><br><br>
  <div class="welcome">
    <!-- <img class="profile-img" src="../../assets/images/profile.png"> -->
    <aside>
      <h1>
        Linus <br>Kreitner
      </h1>
      <h2>
        Developer. Programmer. Creativist.
      </h2>
      <div class="contact-icons">
        <button class="icon-button" (click)="openInNewTab('http://twitter.com/LinusKreitner')" title="http://twitter.com/LinusKreitner">
            <i class="fab fa-twitter-square"></i>
        </button>
        <button class="icon-button" (click)="openInNewTab('https://github.com/Linus4world')" title="https://github.com/Linus4world">
          <i class="fab fa-github"></i>
        </button>
        <button class="icon-button" (click)="sendMail()" title="Send mail">
          <i class="fas fa-envelope"></i>
        </button>
      </div>
    </aside>
  </div>
</div>

<!-- <div style="text-align:center">
    <img width="300" alt="Angular Logo" src="assets/icons/icon-white.png" style="margin: 3em">
  </div> -->